{
  "name": "{{.ProjectName}}",
  "private": true,
  "type": "module",
  "scripts": {
    "dev": "node src/server.js",
    "start": "NODE_ENV=production node src/server.js"
  },
  "dependencies": {
    "express": "^4.19.2",
    "dotenv": "^16.4.5",
    "mongodb": "^6.3.0"
  }
}

