PORT=8080
NODE_ENV=development
LOG_LEVEL=info

HTTP_READ_TIMEOUT=5000
HTTP_WRITE_TIMEOUT=10000
SHUTDOWN_TIMEOUT=10000

# MongoDB
MONGO_URL=mongodb://localhost:27017/{{.ProjectName}}
MONGO_DB_NAME={{.ProjectName}}
